.solve-word {
  display: inline-block;
  font-size: 2em;
  margin-right: 30px;
  margin-bottom: 30px;
}

.solve-letter {
  padding: 0 2px;
}

.solve-puzzle {
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0
}

.highlight {
  background-color: #e6aa57;
}
