.solve-word {
  display: inline-block;
  font-size: 2em;
  margin-right: 30px;
  margin-bottom: 30px;
}

.quote-letter {
  padding: 0 2px;
  display: inline-block;
}

.solve-puzzle {
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0
}

.highlight {
  background-color: #e6aa57;
}

.guess-letter {
  display: block;
  margin-bottom: 0;
}
