$border-black: #44464d;

.qc-container {
  border: 2px solid $border-black;
  border-radius: 4px;
  font-size: 1.4em;
  margin-bottom: 2px;
}

.qc-text {
  padding: 5px 15px;
}

.solved-badge {
  margin-right: 5px;
}
